.invest-Container {
  align-items: flex-end;
  display: flex;
  border-bottom: 1px solid  rgb(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  margin: 2px 0px 5px 0px;
  width: 100%;
  padding: 5px 0px;
}

.invest-label h3 {
  margin-bottom: 3px;
}

.input-value {
  border: 1px solid lightgray;
  border-radius: 5px;
  line-height: 22px;
  width: 130px;
}

.input-value::placeholder {
  color: lightgray;
  padding-left: 5px;
}

.invest-button {
  color: white;
  background-color: #468335;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
}