.card {
  background-color: white;
  border: 2px solid darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.card-image {
  font-size: x-large;
  padding-bottom: 5px;
  width: 80%;
}

.card-name {
  width: 100%;
  margin: 5px;
}

.card-author {
  font-style: italic;
  padding-bottom: 3px;
}
