.rating {
  display: flex;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid  rgb(0, 0, 0, 0.1);
  justify-content: space-around;
  margin: 2px 0px 5px 0px;
  width: 100%;
  padding: 5px 0px;
}

.fas.fa-star {
  color: gold;
  margin-right: 5px;
}

.fas.fa-user-friends {
  margin-left: 5px;
}